49. Group AnagramsRef: 
https://leetcode.com/problems/group-anagrams/

Given an array of strings strs, group the 
anagram 
together. You can return the answer in any orde

Example 1:

Input: strs = ["eat","tea","tan","ate","nat","bat"]

Output: [["bat"],["nat","tan"],["ate","eat","te

Explanation:
    *   There is no string in strs that can be rearranged to form "bat
    *    The strings "nat" and "tan" are anagrams as they can be rearranged to form each oth
    *     The strings "ate", "eat", and "tea" are anagrams as they can be rearranged to form each ot
er.
a"]]r.

In [2]:
strs = ["eat","tea","tan","ate","nat","bat"]

for ele in strs:
    print (ele)

eat
tea
tan
ate
nat
bat

In [ ]:
anagrams = defaultdict(list)
for s in strs:
    sorted_str = ''.

In [7]:
"""The join() method takes an iterable (such as a list, tuple, set, or dictionary) 
and joins its elements into a single string using a specified delimiter."""

d = {'Geek': 1, 'for': 2, 'Geeks': 3}

# Separator "_" is used to join keys into a single string
res = '_'.join(d)

print(res.values())

AttributeError: 'str' object has no attribute 'values'