In [14]:
import numpy as np
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
#Dataframes
#defining column names when data does nto have column names

u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv(your_local_path+'u.user', sep='|', names=u_cols,
                    encoding='latin-1')

In [ ]:

Tuple 
#numpy
ndarray 
#pandas
series 
dataframes

# Sets
Python also includes a data type for sets. 

A set is an unordered collection with no duplicate elements. 
Basic uses include membership testing and eliminating duplicate entries. 
Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.


Note: to create an empty set you have to use set(), not {};

In [1]:
def main():
    try:
        basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
        print(basket)
    except IOError as e:
        print ('Some Error in the Set', e)

main()

{'banana', 'apple', 'orange', 'pear'}

In [ ]:
#Conversion of one data structure into another

# List

In [39]:
#list 
'''
Lists, along with dictionary, are perhaps most important data types.
A list contains items separated by commas and enclosed within square brackets ([]).
All the items belonging to a list can be of different data type.
Lists are similar to arrays in C language.
The plus ( + ) sign is the list concatenation operator, and the asterisk ( * ) is the repetition operator.
'''

a = [1,2,3,4,5,'a']
a
len(a)

#List Methods
#add an item to the end of the list 
a.append ('b')
print (a)

#extend
a.extend('c')
a

#insert - insert an item at a given position 
a.insert (len(a)+1,'d')
a

#remove - remove the item of a given value 
a.remove ('a')
a

#pop - remove an item from a given position
print (a)
a.pop(0)
a

[1, 2, 3, 4, 5, 'a', 'b']
[1, 2, 3, 4, 5, 'b', 'c', 'd']

[2, 3, 4, 5, 'b', 'c', 'd']

In [49]:

# clear() 
# del 
print (a)
a.clear()
print (a)

#list [:]   -- also clears the list 
#clear the list by replacing all elements eith an empty list.
#list1[:] = []
#list1

#index 

#count(X) - returns the number of times X appears in the list 
b = [1,2,3,4,5,'a','b','c','A','ka','a','raa']
b.count('a')

#sort 
numberlist = [1, 5, 23, 1 ,54,2, 54,23, 54,76, 76,34,87]
numberlist.sort()
print(numberlist)
print (len(numberlist))
#print (str(max(numberlist)))
print (min(numberlist))

#another way of sorting 
string = ['abcd', 'efg', 'hijk', 'lmn']
print (sorted(string, key=len))

#You can even pass your own function to sort 
mylist = ['d','z','b','t','a']

def func1(input):
    return input[-1]                    # Sort based on last element

print (sorted(mylist, key=func1))


#reverse() - Reverse the elements of the list in place

#copy

[]
[]
[1, 1, 2, 5, 23, 23, 34, 54, 54, 54, 76, 76, 87]
13
1
['efg', 'lmn', 'abcd', 'hijk']

In [ ]:
#implement list as a Stack

In [ ]:
# Implement List as a queue

In [ ]:
'''
Dictionary
One of the most important built-in data structure.
Python's dictionaries are kind of hash tables.
They work like associative arrays and consist of key-value pairs. 
A dictionary key can be almost any Python type, but are usually numbers or strings. 
Values, on the other hand, can be any arbitrary Python object.
Dictionaries are enclosed by curly braces ( { } ) and values can be assigned and accessed using square braces ( [] ).
'''

In [51]:
#Dictionary 

adic = {1:'Kas', 2:'yap',3:' Raj',4:'pur',5:'ohi',6:'t'}
print (adic)
print (adic.keys())
print (adic.values())

{1: 'Kas', 2: 'yap', 3: ' Raj', 4: 'pur', 5: 'ohi', 6: 't'}
dict_keys([1, 2, 3, 4, 5, 6])
dict_values(['Kas', 'yap', ' Raj', 'pur', 'ohi', 't'])

# TUPLE 

Lets see what is a Tuple? 
A tuple is a sequence of immutable Python objects

Tuples are immutable sequences, typically used to store collections of heterogeneous data (such as the 2-tuples produced by the enumerate() built-in). 

Tuples are also used for cases where an immutable sequence of homogeneous data is needed

In [52]:
a = (1,2,3,4)
print(a)

(1, 2, 3, 4)

#https://docs.python.org/3/library/collections.html#collections.deque

# COLLECTIONS - Container Datatypes
'''
This module implements specialized container datatypes providing alternatives to Pythonâ€™s general purpose built-in containers, 
dict, list, set, and tuple.
'''

namedtuple() 	factory function for creating tuple subclasses with named fields

deque 	        list-like container with fast appends and pops on either end
ChainMap 	    dict-like class for creating a single view of multiple mappings
Counter 	    dict subclass for counting hashable objects
OrderedDict 	dict subclass that remembers the order entries were added
defaultdict 	dict subclass that calls a factory function to supply missing values
UserDict 	    wrapper around dictionary objects for easier dict subclassing
UserList 	    wrapper around list objects for easier list subclassing
UserString 	    wrapper around string objects for easier string subclassing

In [ ]:
#list as queue 
#https://docs.python.org/3/library/collections.html#collections.deque

from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves

queue.popleft()                 # The second to arrive now leaves

queue                           # Remaining queue in order of arrival

In [15]:
'''
Python Builtin function range() - generates a set of numbers
'''
a = range(1, 6, 2)
for i in a:
    print (i)
print('Kshyap')
b = range (5)
for i in b:
    print (i)

'''Numpy builtin function arange()'''



'''Numpy builyin - linspace'''

''' ogrid '''

''' mgrid '''

''' '''

1
3
5
Kshyap
0
1
2
3
4

In [56]:
x = range(1, 11)[::-1]

for i in x:
    print (x)

range(10, 0, -1)
range(10, 0, -1)
range(10, 0, -1)
range(10, 0, -1)
range(10, 0, -1)
range(10, 0, -1)
range(10, 0, -1)
range(10, 0, -1)
range(10, 0, -1)
range(10, 0, -1)

In [ ]:
import pandas as pd 
fh = pd.read_csv (path+filename)

#dataframes - read_csv : created by reading in csv files 

#dictionaries cast as dataframes 


#lists cast as dataframes


#slice and dice dataframes 

#assigns all the rows starting from 0 till 2  and all teh columns from 'col1' to 'coln' onto a new dataframe
z = df.ix[0:2,'Col1':'Coln']

#produces a list of boolean values 
df1 = df[df['Released'] >=1980]

In [ ]:
df = pd.dataframe()

# Dictionary

In [ ]:

#Nested Dictionaries 
#Multiple values associated with a key
#List associated with a key

#print keys in a sorted fashion
prices = {}
prices ["banana"] = 4
prices ['apple'] = 2
prices ['orange']=1.5
prices ['pear']=3

stocks = { "banana": 12,
           "apple": 24,
           "orange": 15,
           "pear": 35
         }

for key in sorted(prices.keys()):
    print ("%s: %s" % (key, prices[key]))
print()
print (prices)

# Lists

In [ ]:
#List definitions..

# Pandas 

* Series 
* Dataframes 


https://pandas.pydata.org/pandas-docs/stable/reference/frame.html
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html#pandas.DataFrame

In [2]:
#If you have a dictionary, you can create a Series data structure from that dictionary. 
import pandas as pd
years = [90, 91, 92, 93, 94, 95]
f1 = {90:8, 91:9, 92:7, 93:8, 94:9, 95:11}
firm1 = pd.Series(f1,index=years)
print (firm1)

90     8
91     9
92     7
93     8
94     9
95    11
dtype: int64

In [9]:
#DataFrames
raw_data = {'name': ['William Wallace', 'James Bond', 'Bruce Wayne', 'Spencer McDaniel'],
        'age': [20, 19, 22, 21],
        'favorite_color': ['blue', 'red', 'yellow', "green"],
        'grade': [88, 92, 95, 70],
        'salary': [2000, 22000, 12000, 6400]}
df = pd.DataFrame(raw_data, columns = ['name', 'age', 'favorite_color', 'grade', 'salary'])
#df1 = pd.DataFrame(raw_data, columns = ['name', 'age', 'favorite_color', 'grade', 'salary'], index=[1, 2, 3, 4, 5])

In [11]:
#Gives the count of rows and columns of the dataframe
df.shape

(4, 5)

In [31]:
df.iloc[1,3]
print (df.head())
type(df)

#adding data to dataframe 
data1 = pd.series(['Robert Bruce','23','brown',5000])
df

92

               name  age favorite_color  grade  salary
0   William Wallace   20           blue     88    2000
1        James Bond   19            red     92   22000
2       Bruce Wayne   22         yellow     95   12000
3  Spencer McDaniel   21          green     70    6400

pandas.core.frame.DataFrame

In [23]:
#DataFrame Attributes
#print (df)
#print the Transpose of the dataframe
#print (df.T)
#Return a list with the row axis labels and column axis labels as the only members
#print (df.axes)
#Return the dtypes in this object.
#print (df.dtypes)
#True if NDFrame is entirely empty [no items], meaning any of the axes are of length 0
print (df.empty)
df1 = pd.DataFrame()
print (df1.empty) 
iloc
ndim
loc
size
values

False
True

In [ ]:
#dataframe methods 
any
append
apply

bfill
ffill
boxplot

combine 
count

cummax
cummin
cumsum
cumprod

describe
equals

from_dict
from_items
from_records

get
get_value
get_values

groupby
head

idxmax
idxmin

info
insert

isin
isnull

iteritems
iterrows

join
keys

max
mean
median
merge
min
mode
mod

notnull
pct_change

pivot
pivot_table
plot

pop

In [ ]:
#DataFrames
# to check if the column datatype is a string and convert the values into lower case
import pandas as pd
df = pd.DataFrame(columns = ['OS','Count'])
df.OS = ["Microsoft Windows","Mac OS X","Linux","Don't have a preference",\
      "I prefer Windows and Unix","Unix","VMS","DOS or ZX Spectrum"]
df.Count = [3,4,234,0,3,2,1,2]
df = df.apply(lambda x: x.str.lower() if(x.dtype == 'object') else x)
df

In [1]:
#Playing around with dates 

import datetime
import tensorflow

ImportError: No module named 'tensorflow'

In [ ]:
#string having array of integers 
lis = [1, 3, 5, 7, 9]

#list 

#dict

#tuple 

#set 

#numpy 
'''
There are 5 general mechanisms for creating arrays:

Conversion from other Python structures (e.g., lists, tuples)
Intrinsic numpy array array creation objects (e.g., arange, ones, zeros, etc.)
Reading arrays from disk, either from standard or custom formats
Creating arrays from raw bytes through the use of strings or buffers
Use of special library functions (e.g., random)
'''

#numpy array indexing 
#https://docs.scipy.org/doc/numpy/user/basics.indexing.html

#numpy - ndarrays 

#numpy - structured arrays

In [ ]:
# Containers and numpy arrays and pandas datastructures 

Basic python containers like set, list, dictionary or tuple doesn't allow for arithmatic operations on them.
Numpy arrays do allow that.

In [ ]:
#pandas

#series 

#dataframe 

# conversion of or constructing dataframes using python containers

In [ ]:
help(zip)

In [ ]:
from datetime import timedelta
year = timedelta(days=365)
another_year = timedelta(weeks=40, days=84, hours=23,
                         minutes=50, seconds=600)  # adds up to 365 days
year.total_seconds()

year == another_year

ten_years = 10 * year
ten_years, ten_years.days // 365

nine_years = ten_years - year
nine_years, nine_years.days // 365

three_years = nine_years // 3
three_years, three_years.days // 365

abs(three_years - ten_years) == 2 * three_years + year

In [ ]:
#counting days to an event
import time
from datetime import date
today = date.today()
today

today == date.fromtimestamp(time.time())

my_birthday = date(today.year, 10, 5)
if my_birthday < today:
    my_birthday = my_birthday.replace(year=today.year + 1)
my_birthday

time_to_birthday = abs(my_birthday - today)
time_to_birthday.days