1. When looping through a sequence, the position index and corresponding value can be retrieved at the 
same time using the **enumerate() function.**

In [2]:
for i, v in enumerate(['K', 'A', 'S', 'H', 'Y', 'A', 'P']):
    print (i, v)

0 K
1 A
2 S
3 H
4 Y
5 A
6 P

2. To loop over two or more sequences at the same time, the entries can be paired with the **zip() function.**

In [8]:
q = ['name', 'quest', 'favcolor']
ans = ['Tom', 'the holy grail', 'Blue']
for q, a in zip(q, ans):
    print ('What is your {0} ? It is {1}.'.format(q, a))

What is your name ? It is Tom.
What is your quest ? It is the holy grail.
What is your favcolor ? It is Blue.

3. To loop over a sequence in reverse, first specify the sequence in a forward direction and then call the **reversed() function**

In [22]:
for i in reversed(range(1, 10, 2)):
    print (i)

9
7
5
3
1

To loop over a sequence in sorted order, use the **sorted() function** which returns a new sorted list while leaving the source unaltered

In [25]:
basket = ['apple', 'guava', 'orange', 'pear', 'banana']
for f in sorted(set(basket)):
    print (f)

apple
banana
guava
orange
pear

When looping through dictionaries, the key and corresponding value can be retrieved at the same time using the **iteritems() method.**

In [29]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.iteritems():
    print (k, v)

AttributeError: 'dict' object has no attribute 'iteritems'

It is sometimes tempting to change a list while you are looping over it; however, it is often simpler and safer to create a new list instead.

In [31]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]