In [ ]:
## Pandas

In [2]:
# Series in Pandas

import pandas as pd
import numpy as np

# a series is a named one-dimensional array of objects
mySeries = pd.Series([1,2,3,4,5,'String', 4.3, -5, 6])
print(mySeries)
type(mySeries)

0         1
1         2
2         3
3         4
4         5
5    String
6       4.3
7        -5
8         6
dtype: object

pandas.core.series.Series

In [4]:
# a series is a one-dimensional array
mySeries = pd.Series([1,2,3,4,5,'String', 4.3, -5, 6], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'])
print(mySeries)
print(mySeries['a'])

a         1
b         2
c         3
d         4
e         5
f    String
g       4.3
h        -5
i         6
dtype: object
1

In [11]:
mySeries = pd.Series({'London':10, 'Bengaluru': 100, 'Berlin': 10, 'Amsterdam': 101})
print (mySeries)
print (mySeries['London'])
print(mySeries['Bengaluru'])
print ( mySeries[mySeries > 10])

London        10
Bengaluru    100
Berlin        10
Amsterdam    101
dtype: int64
10

np.int64(100)

Bengaluru    100
Amsterdam    101
dtype: int64

# Pandas DataFrames

2-dimensional data structure or array in rows and columns
* data can be of different types
* has an index

In [14]:
import numpy as np
import pandas as pd

arr = np.array([[1,2,3],[4,5,6],[7,8,9]])
df = pd.DataFrame(arr)

print (df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [15]:
df.columns
# has the default column names starting with 0 and has 3 columns in total i.e. 0, 1, 2

RangeIndex(start=0, stop=3, step=1)

In [17]:
# manually specify the column names of a dataframe
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])
df = pd.DataFrame(arr, columns=['a','b','c'])
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [16]:
df.columns

RangeIndex(start=0, stop=3, step=1)

In [23]:
# Create a dataframe from a pandas series
s1 = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s2 = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

print (s1)
print (s2)

a    1.272484
b   -1.353172
c    0.310434
d   -0.707469
e   -1.747474
dtype: float64
a   -0.621658
b   -0.001818
c   -0.422196
d   -1.731074
e   -0.091011
dtype: float64

In [26]:
# axis = 0 means the series s2 is attached to the end of first series s1
df = pd.concat([s1, s2], axis=0)
print (df)
# axis = 1 means the series s2 is attached a separate column to the s1
df = pd.concat([s1, s2], axis=1)
print (df)
df = pd.concat([s1, s2], axis=1).reset_index()
print (df)

a    1.272484
b   -1.353172
c    0.310434
d   -0.707469
e   -1.747474
a   -0.621658
b   -0.001818
c   -0.422196
d   -1.731074
e   -0.091011
dtype: float64
          0         1
a  1.272484 -0.621658
b -1.353172 -0.001818
c  0.310434 -0.422196
d -0.707469 -1.731074
e -1.747474 -0.091011
  index         0         1
0     a  1.272484 -0.621658
1     b -1.353172 -0.001818
2     c  0.310434 -0.422196
3     d -0.707469 -1.731074
4     e -1.747474 -0.091011

In [27]:
df.iloc[0][0]

np.float64(1.2724844679803864)

In [28]:
# to convert a series to a dataframe
s2.to_frame()

          0
a -0.621658
b -0.001818
c -0.422196
d -1.731074
e -0.091011

In [ ]:
# How to drop a row or column

In [ ]:
# Display the descriptive statistics of a datafra,e